.change-date {
    grid-row: 2/3;
    grid-column: 4/5;
    justify-self: start;

    font-family: 'Roboto';
    font-size: 19px;
    line-height: 19px;
    text-align: center;
    color:white;
    background-color: transparent;
    border:none;

    transform: rotate(-72.5deg) translate(-60px, -60px);

    i {
        margin-right: 10px;
    }
}